* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.content {
  padding: 75px 5vw;
  min-height: 100%;
  margin-bottom: -50px;
}

.display-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 68pt;
  color: #0099e6;
}

.text-header {
  font-family: 'Raleway', sans-serif;
  font-size: 28pt;
  color: #6a727c;
  margin: 10px 0;
}

#social-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#social-container > div {
  height: 100%;
  display: flex;
  font-size: 16pt;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

a {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

footer {
  height: 50px;
  background-color: #0099e6;
}
