* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

header {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#hamburger-icon {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 15px 50px;
  cursor: pointer;
}

#hamburger-icon span {
  width: 90%;
  height: 10%;
  background-color: #6a727c;
  border-radius: 2px;

}

header ul {
  padding: 15px 50px;
  list-style-type: none;
}

header li {
  margin: 0 10px;
  font-family: 'Raleway', sans-serif;
  color: #0099e6;
  font-size: 16pt;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

header li a {
  color: #0099e6;
}

.content {
  padding: 0 5vw 15vh;
  min-height: 100%;
  margin-bottom: -50px;
}

.content-text {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  color: #6a727c;
  margin: 0 10px;
}

.display-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 68pt;
  color: #0099e6;
}

.text-header {
  font-family: 'Raleway', sans-serif;
  font-size: 28pt;
  color: #6a727c;
  margin-top: 10px;
}

.text-subheader {
  font-family: 'Raleway', sans-serif;
  font-size: 22pt;
  color: #6a727c;
}

#social-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#social-container > div {
  height: 100%;
  display: flex;
  font-size: 16pt;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

#social-container a {
  color: #ffffff;
}

#social-container a:active {
  color: #ffffff;
}

p {
  margin: 20px 0;
}

.bold {
  color: #f65464;
  font-weight: bold;
}

footer {
  height: 50px;
  background-color: #0099e6;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-pic {
  border-radius: 5px;
  height: 250px;
  width: auto;
  margin-right: 10px;
}

.row-section {
  display: flex;
  align-items: center;
  margin: 10px 50px 10px 0;
}

.column {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.work-content {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  color: #6a727c;
}

.work-header {
  color: #0099e6;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18pt;
  cursor: pointer;
  margin-top: 10px;
}

.work-header a, .work-header a:active {
  color: #0099e6;
  text-decoration: none;
}

.envelope {
  color: #0099e6;
}

#to-top-button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #f65464;
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 0px 2px 10px #777;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#to-top-button:hover {
  transform: scale(1.05);
}

#click-here {
  display: inline-block;
  font-size: 12pt;
  transform: rotate(-5deg) translateY(-7px);
  margin: 0 5px;
}

#slide-out-menu {
  position: absolute;
  top: 0%;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background-color: #0099e6;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

#slide-out-menu.slide-in {
  transition: 0.5s;
  right: 0%;
}

#menu-close-icon {
  height: 10px;
  width: 10px;
  background-color: tomato;
  position: absolute;
  top: 5%;
  right: 3%;
}

#link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 25vh;
  min-width: 15vw;
}

#link-container a {
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
  color: #ffffff;
  text-decoration: none;
}

#link-container span {
  border-top: 2px solid #ffffff;
  width: 100%;
}

/**********************
**** Media Queries ****
**********************/
@media(max-width: 1000px) {
  .row-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .content-text {
    margin: 0;
  }

  #social-container > div {
    font-size: 28pt;
    margin: 0 25px;
  }

  footer {
    height: 125px;
  }
}

@media(max-width: 700px) {
  .display-header {
    font-size: 48pt;
  }

  .text-header {
    font-size: 20pt;
  }

  .text-subheader {
    font-size: 16pt;
  }

  .work-header {
    font-size: 14pt;
  }

  .content-text, .work-content {
    font-size: 12pt;
  }

  #hamburger-icon {
    display: flex;
  }

  #nav-list {
    display: none;
  }
}

@media(max-width: 500px) {
  #social-container > div {
    font-size: 22pt;
    margin: 0 25px;
  }
}
